
 body.light{
  background:white;
  color:black
}

body.dark{
  background:black;
  color:white
}

.imageStyle {
  width: 100%;
  height: auto;
}

.containerStyle {
  padding: 16px;
  text-align: center;
}

.cardStyle {
  box-shadow: 0 4px 8px #000000; 
  width: 400px;
  border-radius: 5px;
  margin: 16px auto;
  font-family: sans-serif;
  
}
